body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: 100% 10%; */
    background-position: center center;
    background-attachment: fixed;
}

p{
    color: rgb(30, 30, 30);
}